<%- include('../partials/header') %>

    <div class=" container ">
      <div class="row text-center">
        <div class="col my-auto">
          <h1 id="logo">Plate</h1>
        </div>
      </div>
      <div class="row text-center justify-content-between ">
        <div class="col-2 my-auto">
          <a href="/home/restaurants" class="text-dark"><h3>Go Home</h3></a>
        </div>

        <div class="col-4 my-auto">
          <input class="form-control" type="text" placeholder="Search">
        </div>

        <div class="col-2 my-auto">
          <a href="/logout" class="text-dark"><h3>Log Out</h3></a>
        </div>
      </div>
    </div>
    


    <div class="container" id="add-review">
      <div class="row">
        <div class="col-7">
          <h1>Edit Review</h1>
          <form action="/reviews/<%=review._id%>?_method=PUT" method="POST">
            <input type="number" name="restId" id='restaurant-id' value="<%= review.restId%>" readonly>
            <br>
            <label class="form-label" ></label>
            <input type="text" name="name" id='restaurant-name' value="<%= review.restaurantName%>" readonly>
            <br>
            <label class="form-label"> 
              <input type="text" name="foodItem" class="form-control" value="<%=review.foodItem%>" readonly>
            </label>
            <br>
              <label class="form-label">
                <input type="number" name="rating" class="form-control" value="<%=review.rating%>">
              </label>
                <br>
            <label> <h5>Text:</h5>
              <textarea name="content" class="form-control" cols="70" required><%=review.content%></textarea>
            </label>
              <button type="submit" class="btn btn-outline-dark">Update Review</button>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
 
