<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add Review</h1>

    <!-- <div class="topnav">
      <a class="active" href="/home">Home</a>
      <input type="text" placeholder="Search..">
    </div> -->

    <form action="/reviews/<%=review._id%>?_method=PUT" method="POST">
      <input type="number" name="restId" id='restaurant-id' value="<%= review.restId%>">
      <br>
      <input type="text" name="name" id='restaurant-name' value="<%= review.restaurantName%>">
      <br>
      <label> Menu Item :
        <input type="text" name="foodItem" value="<%=review.foodItem%>">
      </label>
      <br>
        <label> Rating :
          <input type="number" name="rating" value="<%=review.rating%>">
        </label>
          <br>
      <label> Review :
        <textarea name="content" rows="4" cols="30" required><%=review.content%></textarea>
      </label>
        <button type="submit" >Update Review</button>
    </form>
    
  </body>
</html>
 
