<!DOCTYPE html>
<html>
  <head>
    <title>Plate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/home">Go Home</a>

    <h2><%= restaurantView.name %></h1>
    <h3>Address: <%= restaurantView.address %></h3>
    <h3>Phone: <%= restaurantView.phone %></h3>

    <h3><a href='/reviews/new/<%=restaurantView.id%>'>Add Review</a></h3>

    <h2>Your Reviews</h2>
    <% reviews.forEach(function(rev){ %>
      <a href='/reviews/<%= rev._id %>'><h3><%=rev.foodItem%></h3></a>
      <h4><%=rev.rating%>/5</h4>
      <p><%=rev.content%></p>
      <form action="/reviews/<%= rev._id %>?_method=DELETE" id="delete-review" method="POST">
        <button type="submit">Delete</button> 
      </form>
  
    <% }) %>
  </body>
</html>